*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;   
}

nav{

    padding: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

footer{

    padding: 1%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
}


.dropdown1{
    position: relative;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 5%;
}

.dropdown{
    text-shadow: 1px 1px #333;
    color: #ffffff;
    padding: 50px;
    font-size: 50px;
    letter-spacing: 30px;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.dropdown:hover{
    color: rgb(255, 255, 255);
    background-color:#EE6F70;

}

img{
    overflow-x: auto;
    width: 10%;
}
 
.headtext{
    padding: 5%;
}

h5{
    text-shadow: 1px 1px #333;
    color: #333;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 50px;
}
h6 {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 1px 1px #333;
    }
    
  
/*Icontext-defaultb*/
.defaultb{
    color: white;
    font-family: Comfortaa;
    padding: 19px;
    background: #333333;
    border-radius: 10px;
}

.defaultb:hover{
    color: white;
    background: #000000;

}
.defaultb:active{
    color: white;
    background: #828282;
}
.defaultb:disabled{
    color: white;
    background: #E0E0E0;
}

a{    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 19px;
    border-radius: 50px;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    border: 1px solid #EE6F70;
    text-decoration: none;}
a:hover{ text-decoration: none;}
a:link{       text-decoration: none;
}
a:active{    text-decoration: none;
}


@media screen and (max-width: 768px) {

    .dropdown{
        text-shadow: 1px 1px #333;
        color: #ffffff;
        padding: 50px;
        font-size: 16px;
        letter-spacing: 10px;
        font-weight: bold;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

h5{
    text-shadow: 1px 1px #333;
    color: #333;
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}
h6 {
    font-family: Comfortaa;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #000000;
    text-shadow: 1px 1px #333;
    }
    
    a{    color: rgb(255, 255, 255);
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 19px;
        border-radius: 50px;
        font-family: Comfortaa;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 22px;
        border: 1px solid #EE6F70;
        text-decoration: none;}
    a:hover{ text-decoration: none;}
    a:link{       text-decoration: none;
    }
    a:active{    text-decoration: none;
    }
    
}
